
// colours used
$colour-big-stone: #182B49;
$colour-cerulean: #00aae0;
$colour-midnight: #001e41;
$colour-midnight-blue: #003478;
$colour-white: #FFF;

// assigned colours
$colour-background: $colour-white;
$colour-basic-text: $colour-midnight;
$colour-button: $colour-cerulean;
$colour-tooltip: $colour-cerulean;

// fonts
$font-main: 'Open Sans', sans-serif;
$font-title: 'Scope One', serif; // AMP uses 'Archer SSm A', this is the closest free one

// media sizes
$mobile: 768px;

html,
body {
  background-color: $colour-background;
  box-sizing: border-box;
  color: $colour-basic-text;
  font-family: $font-main;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  margin: 25px;
}

.button {
  background-color: transparent;
  border: 2px solid $colour-button;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.7;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 125ms ease;
  min-width: 180px;

  &-back {
    color: $colour-button;

    &:hover {
      background-color: $colour-button;
      color: $colour-white;
    }
  }

  &-next {
    background-color: $colour-button;
    color: $colour-white;

    &:hover {
      background-color: transparent;
      color: $colour-button;
    }
  }
}

h1 {
  color: $colour-midnight-blue;
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  color: $colour-midnight-blue;
  font-family: $font-title;
  font-size: 2.5rem;
  font-weight: 400;
}

.super-card {
  $max-width: 932px;

  border: 4px solid $colour-big-stone;
  border-radius: 8px;
  margin: auto;
  max-width: $max-width;
  padding: 8px 24px 9px;

  header {
    h1 {
      display: flex;
      align-items: end;

      .logo {
        width: 130px;
      }

      span {
        padding-left: 8px;
      }
    }
  }

  .invest-slider {
    display: flex;
    margin: 60px auto 20px auto;
    max-width: 700px;

    .slider-button {
      flex: 1;
      width: 30px;
    }

    .slider-holder {
      flex: 10;

      .vue-slider-component .vue-slider-tooltip {
        background-color: $colour-tooltip;
        border: 1px solid $colour-tooltip;
        font-size: 1.5rem;
        padding: 3px 8px;
      }
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .button {

    }
  }
}

// for mobile only
@media only screen and (max-width: $mobile) {
  main {
    margin: 3px;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.7rem;
    line-height: 1.1;
  }

  .super-card {
    padding: 8px 10px 9px;

    .invest-slider {
      flex-wrap: wrap;
      margin: 45px auto 20px auto;

      .slider-button {
        flex: 1;

        &.minus {
          order: 2;
        }

        &.plus {
          order: 3;
        }
      }

      .slider-holder {
        flex: 2 100%;
        margin: 0 30px 10px 30px;
        order: 1;

        .vue-slider-component .vue-slider-tooltip {
          font-size: 1rem;
          padding: 2px 4px;
        }
      }
    }

    nav {
      .button {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
